                                        /*   GENERAL   */

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background-image: url(../assets/img/cuerpo-felina.jpg);
    background-position: center;
    background-size: cover;
    color: white;
}

h2{
    padding-bottom: 5px;
}

a{
    color: white;
}

.footer{
    background-image: url(../assets/img/fondo-bbad.jpg);
    background-position: center;
    background-size: cover;
    width: 98.5vw;
    font-size: 1.4rem;

    grid-area: footer;
}

.boton{
    background-color: rgb(15, 114, 64);
    color: white;
    padding: 7px;
    border-radius: 5px;

}

.boton:hover{
    border: rgb(15, 114, 64) 2px solid;
    background-color: white;
    color: rgb(15, 114, 64);
}

                                        /*   HEADER   */

.header{
    background-image: url(../assets/img/fondo-bbad.jpg);
    background-position: center;
    background-size: cover;

    color:white;
    font-size: 1.1rem;
    padding: 15px;
    width: 98.5vw;

    grid-area: header;
}

.header__title{
    text-align: center;
    padding: 10px;
}

.header__nav ul{
    display: flex;
    justify-content: space-around;
}

@media (min-width:768px){
    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav{
        width: 50%;
    }
}

                                        /*   INDEX   */

                /*bloques*/

.bloque-destacados{
    background-color:black;
    width: 50vw;
    padding: 30px 30px 30px 5px;
    margin: 10px 0px 10px 0px;

    grid-area: destacados;
}

.bloque-series{
    background-color:black;
    width: 50vw;
    padding: 30px 30px 30px 5px;
    margin: 10px 0px 10px 0px;

    grid-area: series;
}

.bloque-lanzamientos{
    background-color:black;
    width: 50vw;
    padding: 30px 30px 30px 5px;
    margin: 10px 0px 10px 0px;

    grid-area: lanzamientos;
}

                /*articulos*/

.destacados{
    background-color: white;
    color: black;
    
    width: 500px;

    padding: 10px;

    margin-bottom: 5px;

    border: 4px solid  rgb(15, 114, 64);
    border-radius: 15px;
}

.destacados__img{
    width: 380px;
}

.destacados__texto{
    width: 300px;
    margin: 10px;
}




.series{
    background-color: white;
    color: black;
    
    width: 500px;

    padding: 10px;

    margin-bottom: 5px;

    border: 4px solid  rgb(15, 114, 64);
    border-radius: 15px;
}

.series__img{
    width: 380px;
}

.series__texto{
    margin: 10px;
}

.lanzamientos{
    background-color: white;
    color: black;
    
    width: 500px;

    padding: 10px;

    margin-bottom: 5px;

    border: 4px solid  rgb(15, 114, 64);
    border-radius: 15px;
}

.lanzamientos__img{
    width: 380px;
}

.lanzamientos__texto{
    margin: 10px;
}

.categorias{
    width: 200px;

    background-color: rgb(15, 114, 64);

    grid-area: categorias;
}

.main-index{
    display: grid;

    grid-area: main;

    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat (3, auto);
    grid-template-areas:
    "categorias destacados destacados"
    "categorias series series"
    "categorias lanzamientos lanzamientos";

}

.body-index{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

                                        /*   FOROS   */

                /*bloques*/

.bloque-reseñas{
    background-color:black;
    width: max-content;
    padding: 30px 30px 30px 5px;
    margin: 10px 0px 10px 0px;
}

                /*articulos*/

.reseñas{
    background-color: white;
    color: black;
    
    width: 500px;

    padding: 10px;

    margin-bottom: 5px;

    border: 4px solid  rgb(15, 114, 64);
    border-radius: 15px;
}

.reseñas__texto{
    margin:10px;
}

                                        /*   NOTICIAS   */

                /*bloques*/

.bloque-ultimas-noticias{
    background-color:black;
    width: max-content;
    padding: 30px 30px 30px 5px;
    margin: 10px 0px 10px 0px;
}

                /*articulos*/

.ultimas__noticias{
    background-color: white;
    color: black;
    
    width: 500px;

    padding: 10px;

    margin-bottom: 5px;

    border: 4px solid  rgb(15, 114, 64);
    border-radius: 15px;
}

.ultimas__noticias__img{
    width: 380px;
}

.ultimas__noticias__texto{
    margin: 10px;
}

                                        /*   TRUCOS-GUIAS   */

                /*bloques*/

.bloque-guias{
    background-color:black;
    width: max-content;
    padding: 30px 30px 30px 5px;
    margin: 10px 0px 10px 0px;
}

.bloque-trucos{
    background-color:black;
    width: max-content;
    padding: 30px 30px 30px 5px;
    margin: 10px 0px 10px 0px;
}

                /*articulos*/

.guias{
    background-color: white;
    color: black;
    
    width: 500px;

    padding: 10px;

    margin-bottom: 5px;

    border: 4px solid  rgb(15, 114, 64);
    border-radius: 15px;
}

.guias__img{
    width: 380px;
}

.guias__titulo{
    padding: 5px;
}

.guias__texto{
    padding: 10px;
}

.trucos{
    background-color: white;
    color: black;
    
    width: 500px;

    padding: 10px;

    margin-bottom: 5px;

    border: 4px solid  rgb(15, 114, 64);
    border-radius: 15px;
}

.trucos__img{
    width: 380px;
}

                                        /*   INICIAR-SESION   */

                /*formularios*/

.formulario-inicio{
    background-color: white;
    color: black;
    
    width: 300px;

    padding: 10px;

    border: 4px solid  rgb(15, 114, 64);
    border-radius: 15px;

    grid-area: inicio;
}

.formulario-registro{
    background-color: white;
    color: black;
    
    width: 300px;

    padding: 10px;

    border: 4px solid  rgb(15, 114, 64);
    border-radius: 15px;

    grid-area: registro;
}


.username{
    padding-bottom: 20px;
}

.email{
    padding-bottom: 20px;
}

.contraseña{
    padding-bottom: 20px;
}

.cambiar__contraseña{
    color: black;
}

@media (min-width:768px){
    .main-login{
        display: grid;

        grid-area: main;

        grid-template-columns: 2fr;
        grid-template-rows: 60vh;
        grid-template-areas:
        "inicio registro";
    }

    .body-login{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (4,auto);
        grid-template-areas:
        "header"
        "inicio"
        "registro"
        "footer";

    }
}